.alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-out-right {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  .slide-in {
    animation: slide-in-right 0.5s forwards;
  }
  
  .slide-out {
    animation: slide-out-right 0.5s forwards;
  }
  

.container{
  background-color: #D9D9D9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid black;
}